Support query parameter access

[Section 2.3 of RFC-6750](https://datatracker.ietf.org/doc/html/rfc6750#section-2.3) says clients may send their token in a query parameter if they are unable to populate the `Authorization` header. Though this is unlikely and insecure, it should be implemented as it's in the standard.